.patient-reviews-section {
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .slide-image {
    border: 6px #963f36 solid;
    border-radius: 50%;
  }
  .slide-text {
    width: 100%;
    background-color: #963f36;
    padding: 1.5rem 1rem;
    color: #fff;
    border-radius: 10px;
  }
  .swiper-slide-prev,
  .swiper-slide-next {
    .slide-text {
      background-color: #e0c6c4;
    }
  }
  .swiper-slide-prev ::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to right,
      #f8f6f6 0%,
      rgba(255, 255, 255, 0) 100%
    ) !important;
  }
  .swiper-slide-next ::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to left,
      #f8f6f6 0%,
      rgba(255, 255, 255, 0) 100%
    ) !important;
  }
}
