@tailwind base;
@tailwind components;
@tailwind utilities;

.flip {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
::-webkit-scrollbar {
  width: 10px;
  height: 0px;
}

::-webkit-scrollbar-track {
  border-radius: 60px;
}

::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 60px;
  height: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d9d9d9;
}
