.comparison-slider {
  // margin: 50px auto;
  position: relative;
  overflow: hidden;
  user-select: none;
  width: 300px;
  height: 180px;
  img {
    width: 100%;
    height: auto;
    vertical-align: middle;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
  }

  .comparison-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 180px;
    overflow: hidden;
  }

  .comparison-item.top {
    z-index: 2;
    top: 0;
    left: 0;
    height: 180px;
    width: 300px;
  }

  .handle {
    position: absolute;
    width: 3px;
    height: 100%;
    background: white;
    z-index: 3;
    cursor: col-resize;
    top: 0;
  }

  .comparison-overlay {
    display: none;
    .overlay-text {
      border: 1px red solid;
    }
  }
}
